body {
    background-color: rgb(185, 185, 185);
}

ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    padding: 24px;
    gap: 24px;
}

.list-element {
    border: 2px solid black;
    padding: 10px;
    background: rgb(167, 199, 167);
    height: 250px;
    border-radius: 10px;
}

.icon {
    height: 60px;
    width: 60px;
    display: block;
}

.temp-value {
    font-size: 36px;
    font-weight: 100;
    margin-right: 8pt;
}

.current-temp {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}